@import '../color.scss';
@import '../assets/fonts/fonts.scss';

.booking_form {
    display: flex;
    justify-content: center;

    .after_submit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $dark_pink;
        align-items: center;
        margin: 2%;
        padding: 2%;

        .MuiTypography-root {
            font-family: Poppins;
            font-size: 1.0em;

            @media screen and (max-width: 991px) {
                font-size: 0.9em;
            }

            @media screen and (max-width: 768px) {
                font-size: 0.9em;
            }

            @media screen and (max-width: 576px) {
                font-size: 0.8em;
            }

        }

        .MuiButtonBase-root {
            width: fit-content;
            text-transform: none;
            color: $white;
            font-family: Poppins;
            background-color: $dark_pink;
            font-size: 1.0em;
            margin: 2%;

            @media screen and (max-width: 991px) {
                font-size: 0.9em;
            }

            @media screen and (max-width: 768px) {
                font-size: 0.8em;
            }

            @media screen and (max-width: 576px) {
                font-size: 0.7em;
            }
        }
    }

    .MuiBox-root {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 2%;

        .MuiPaper-root {
            .form_container {
                .form_head {
                    padding: 5%;
                    text-align: center;
                    font-family: Poppins;
                    color: $dark_pink;
                    font-size: 1.4em;

                    @media screen and (max-width: 991px) {
                        font-size: 1.2em;
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 1.0em;
                    }

                    @media screen and (max-width: 576px) {
                        font-size: 0.9em;
                        padding: 30px;
                    }
                }

                .form_fields {
                    height: 80px;

                    .labels {
                        display: flex;
                        float: left;
                        font-family: Poppins;
                        width: 25%;
                        padding: 10px 15px;
                        font-size: 1.0em;

                        @media screen and (max-width: 991px) {
                            font-size: 1.0em;
                        }

                        @media screen and (max-width: 768px) {
                            font-size: 0.9em;
                        }

                        @media screen and (max-width: 576px) {
                            font-size: 0.8em;
                        }
                    }

                    .MuiFormControl-root {
                        display: flex;
                        float: left;
                        width: 72%;
                        .MuiInputBase-root {
                            font-family: Poppins;
                            font-size: 1.0em;
    
                            @media screen and (max-width: 991px) {
                                font-size: 1.0em;
                            }
    
                            @media screen and (max-width: 768px) {
                                font-size: 0.9em;
                            }
    
                            @media screen and (max-width: 576px) {
                                font-size: 0.8em;
                            }
                        }
                    }

                    .error-message {
                        padding-left: 25%;
                        color: $red;
                        font-size: 1.0em;
                        font-family: Poppins;

                        @media screen and (max-width: 991px) {
                            font-size: 1.0em;
                        }

                        @media screen and (max-width: 768px) {
                            font-size: 0.9em;
                        }

                        @media screen and (max-width: 576px) {
                            font-size: 0.8em;
                        }
                    }
                }
            }

            .create_request {
                display: flex;
                padding: 2%;
                justify-content: flex-end;

                .MuiButtonBase-root {
                    height: fit-content;
                    background-color: $dark_pink;
                    font-size: 1.0em;
                    font-family: Poppins;

                    @media screen and (max-width: 991px) {
                        font-size: 0.9em;
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 0.8em;
                    }

                    @media screen and (max-width: 576px) {
                        font-size: 0.7em;
                    }
                }
            }

            .get_details {
                display: flex;
                justify-content: center;
                margin: 2%;
                font-family: Poppins;
                font-size: 1.0em;

                @media screen and (max-width: 991px) {
                    font-size: 0.9em;
                }

                @media screen and (max-width: 768px) {
                    font-size: 0.9em;
                }

                @media screen and (max-width: 576px) {
                    font-size: 0.8em;
                }

                .MuiLink-root {
                    padding-left: 1%;
                    text-decoration: none;
                    color: $dark_pink;
                }
            }
        }
    }
}