@import '../color.scss';
@import '../assets/fonts/fonts.scss';

.items_container {
    display: flex;
    justify-content: center;

    .items_selector_container {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 2%;
        margin: 2%;
        color: $dark_pink;
        font-family: Poppins;
        background-color: $white;

        @media screen and (max-width: 991px) {
            width: 70%;
        }

        @media screen and (max-width: 768px) {
            width: 80%;
        }

        @media screen and (max-width: 575px) {
            width: 100%;
        }

        .MuiBox-root {
            font-family: Poppins;

            * {
                font-family: inherit; // Use the inherited font-family property
            }

            .MuiStepper-root {
                .MuiStep-root {
                    .MuiStepLabel-root {
                        .MuiStepLabel-iconContainer {
                            .MuiSvgIcon-root {
                                color: #97074876;
                            }

                            .MuiSvgIcon-root.Mui-active {
                                color: $dark_pink;
                            }
                        }

                        .MuiStepLabel-labelContainer {
                            .MuiStepLabel-label {
                                font-size: 1.0em;
                                font-family: Poppins;

                                @media screen and (max-width: 991px) {
                                    font-size: 0.9em;
                                }

                                @media screen and (max-width: 768px) {
                                    font-size: 0.8em;
                                }

                                @media screen and (max-width: 576px) {
                                    font-size: 0.8em;
                                }
                            }
                        }
                    }

                    .MuiStepContent-root {
                        .MuiCollapse-root {
                            .MuiCollapse-wrapper {
                                .MuiCollapse-wrapperInner {
                                    .MuiPaper-root {
                                        .MuiDataGrid-root {
                                            .MuiDataGrid-main {
                                                .MuiDataGrid-virtualScroller {
                                                    .MuiDataGrid-topContainer {
                                                        font-size: 1.0em;

                                                        @media screen and (max-width: 991px) {
                                                            font-size: 0.9em;
                                                        }

                                                        @media screen and (max-width: 768px) {
                                                            font-size: 0.9em;
                                                        }

                                                        @media screen and (max-width: 576px) {
                                                            font-size: 0.8em;
                                                        }
                                                    }

                                                    .MuiDataGrid-virtualScrollerContent {
                                                        .MuiDataGrid-cell {
                                                            font-size: 1.0em;

                                                            @media screen and (max-width: 991px) {
                                                                font-size: 0.9em;
                                                            }

                                                            @media screen and (max-width: 768px) {
                                                                font-size: 0.9em;
                                                            }

                                                            @media screen and (max-width: 576px) {
                                                                font-size: 0.8em;
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            .MuiDataGrid-footerContainer {
                                                .MuiDataGrid-selectedRowCount {
                                                    font-size: 1.0em;
                                                    font-family: Poppins;

                                                    @media screen and (max-width: 991px) {
                                                        font-size: 0.9em;
                                                    }

                                                    @media screen and (max-width: 768px) {
                                                        font-size: 0.9em;
                                                    }

                                                    @media screen and (max-width: 576px) {
                                                        font-size: 0.8em;
                                                    }
                                                }

                                                .MuiTablePagination-root {
                                                    .MuiToolbar-root {
                                                        .MuiTablePagination-selectLabel {
                                                            font-size: 1.0em;
                                                            font-family: Poppins;

                                                            @media screen and (max-width: 991px) {
                                                                font-size: 0.9em;
                                                            }

                                                            @media screen and (max-width: 768px) {
                                                                font-size: 0.9em;
                                                            }

                                                            @media screen and (max-width: 576px) {
                                                                font-size: 0.8em;
                                                            }
                                                        }

                                                        .MuiTablePagination-displayedRows {
                                                            font-size: 1.0em;
                                                            font-family: Poppins;

                                                            @media screen and (max-width: 991px) {
                                                                font-size: 0.9em;
                                                            }

                                                            @media screen and (max-width: 768px) {
                                                                font-size: 0.9em;
                                                            }

                                                            @media screen and (max-width: 576px) {
                                                                font-size: 0.8em;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .MuiButtonBase-root {
                                        .MuiSvgIcon-root {
                                            fill: $dark_pink;
                                        }
                                    }

                                    .MuiBox-root {
                                        .btn1 {
                                            background-color: $dark_pink;
                                            color: $white;
                                            font-size: 1.0em;
                                            font-family: Poppins;

                                            @media screen and (max-width: 991px) {
                                                font-size: 0.9em;
                                            }

                                            @media screen and (max-width: 768px) {
                                                font-size: 0.8em;
                                            }

                                            @media screen and (max-width: 576px) {
                                                font-size: 0.7em;
                                            }
                                        }

                                        .btn2 {
                                            background-color: $white;
                                            color: $dark_pink;
                                            font-size: 1.0em;
                                            font-family: Poppins;

                                            @media screen and (max-width: 991px) {
                                                font-size: 0.9em;
                                            }

                                            @media screen and (max-width: 768px) {
                                                font-size: 0.8em;
                                            }

                                            @media screen and (max-width: 576px) {
                                                font-size: 0.7em;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .loading {
                display: flex;
                justify-content: center;
            }
        }
    }
}