@import '../color.scss';
@import '../assets/fonts/fonts.scss';

.header_container{
    .MuiBox-root{
        .MuiPaper-root{
            background-color: $yellow;
            .MuiToolbar-root{
                .MuiTypography-root{
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.4em;
                    color: $brown;
                    @media screen and (max-Width:750px){
                        font-size: 1.0em;
                    }
                }
                .MuiButtonBase-root{
                    color: $white;
                    background-color: $brown;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.0em;
                    text-transform: none; 
                    @media screen and (max-Width:750px){
                        font-size: 0.9em;
                    }
                }
                .MuiIconButton-root{
                    background-color: $white;
                    color: $brown;
                }
            }
        }
    }
}