@import '../color.scss';
@import '../assets/fonts/fonts.scss';

.footer_container {
    background-color: $dark_pink;
    display: flex;
    width: 100%;

    .MuiBox-root {
        width: 100%;

        .top_container {
            .footer_divider {
                background-color: $white;
                margin: 1px 15px;
            }

            .MuiTypography-root {
                display: flex;
                color: $light_yellow;
                margin: 1%;
                font-size: 1.4em;
                font-family: Poppins;

                @media screen and (max-width: 991px) {
                    font-size: 1.2em;
                }

                @media screen and (max-width: 768px) {
                    font-size: 1.0em;
                    padding-left: 2%;
                }

                @media screen and (max-width: 576px) {
                    font-size: 0.9em;
                }
            }
        }

        .bottom_container {
            display: flex;
            justify-content: space-evenly;

            @media screen and (max-width: 670px) {
                display: block;
            }

            .list_container {
                margin: 20px 40px;

                @media screen and (max-width: 670px) {
                    display: block;
                    margin: 20px auto;
                }

                .list_title {
                    font-size: 1.2em;
                    font-family: Poppins;
                    color: $yellow;

                    @media screen and (max-width: 991px) {
                        font-size: 1.0em;
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 0.9em;
                    }

                    @media screen and (max-width: 670px) {
                        padding-left: 2%;
                    }

                    @media screen and (max-width: 576px) {
                        font-size: 0.8em;
                    }
                }

                .MuiList-root {
                    @media screen and (max-width: 670px) {
                        display: block;
                    }

                    .MuiListItem-root {
                        padding: 1px;
                        -webkit-flex-grow: unset;
                        flex-grow: unset;

                        @media screen and (max-width: 670px) {
                            padding-left: 2%;
                        }

                        .MuiListItemText-root {
                            margin: 0;
                            -webkit-flex: unset;
                            flex: unset;

                            .MuiTypography-root {
                                font-size: 0.9em;
                                color: $white;
                                font-family: Poppins;

                                @media screen and (max-width: 991px) {
                                    font-size: 0.9em;
                                }

                                @media screen and (max-width: 768px) {
                                    font-size: 0.8em;
                                }

                                @media screen and (max-width: 576px) {
                                    font-size: 0.8em;
                                }

                                &:hover {
                                    color: $light_yellow;
                                }

                            }

                            &.active {
                                .MuiTypography-root {
                                    font-family: Poppins;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }

            .button_container {
                display: flex;
                margin: 20px 40px;
                flex-direction: column;

                @media screen and (max-width: 670px) {
                    display: block;
                    margin: 20px auto;
                }

                .booking_button {
                    display: flex;
                    width: 100%;

                    @media screen and (max-width: 670px) {
                        padding-left: 2%;
                    }

                    .MuiButtonBase-root {
                        background-color: $white;
                        color: $dark_pink;
                        text-transform: none;
                        height: fit-content;
                        font-family: Poppins;
                        font-size: 1.0em;
                        font-family: Poppins;

                        @media screen and (max-width: 991px) {
                            font-size: 0.9em;
                        }

                        @media screen and (max-width: 768px) {
                            font-size: 0.8em;
                        }

                        @media screen and (max-width: 576px) {
                            font-size: 0.7em;
                        }

                    }
                }

                .MuiList-root {
                    @media screen and (max-width: 670px) {
                        display: block;
                    }

                    .MuiListItem-root {
                        padding: 1px;
                        -webkit-flex-grow: unset;
                        flex-grow: unset;

                        @media screen and (max-width: 670px) {
                            padding-left: 2%;
                        }

                        .MuiListItemText-root {
                            margin: 0;
                            -webkit-flex: unset;
                            flex: unset;

                            .MuiTypography-root {
                                font-family: Poppins;
                                font-size: 0.9em;
                                color: $yellow;
                                font-family: Poppins;

                                @media screen and (max-width: 991px) {
                                    font-size: 0.9em;
                                }

                                @media screen and (max-width: 768px) {
                                    font-size: 0.8em;
                                }

                                @media screen and (max-width: 576px) {
                                    font-size: 0.8em;
                                }

                                &:hover {
                                    color: $light_yellow;
                                }

                            }

                            &.active {
                                .MuiTypography-root {
                                    font-family: Poppins;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer_divider {
            background-color: $white;
            margin: 1px 15px;
        }
        .MuiButtonBase-root{
            display: flex;
            color: $white;
            font-size:0.7em;
            padding-left: 2%;
        }
    }
}